{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <div class="breadcrumb-area-two mt-50 wow fadeInUp" data-wow-delay="200ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content-two">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Demandes d'hébérgements</li>
                            </ol>
                        </nav>
                        <h2 class="page-title">Liste des Demandes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block search %}
    <div class="rehomes-search-form-area">
        <div class="container">
            <div class="rehomes-search-form">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-10 ">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select name="governorat" id="location" class="form-control">
                                        <option value="" selected disabled hidden>Governorat</option>
                                        <option value="Ariana">Ariana</option>
                                        <option value="Béja">Béja</option>
                                        <option value="Ben Arous">Ben Arous</option>
                                        <option value="Bizerte">Bizerte</option>
                                        <option value="Gabes">Gabes</option>
                                        <option value="Jendouba">Jendouba</option>
                                        <option value="Kairouan">Kairouan</option>
                                        <option value="Kasserine">Kasserine</option>
                                        <option value="Kebili">Kebili</option>
                                        <option value="Kef">Kef</option>
                                        <option value="Mahdia">Mahdia</option>
                                        <option value="Manouba">Manouba</option>
                                        <option value="Medenine">Medenine</option>
                                        <option value="Monastir">Monastir</option>
                                        <option value="Nabeul">Nabeul</option>
                                        <option value="Sfax">Sfax</option>
                                        <option value="Sidi Bouzid">Sidi Bouzid</option>
                                        <option value="Siliana">Siliana</option>
                                        <option value="Sousse">Sousse</option>
                                        <option value="Tataouine">Tataouine</option>
                                        <option value="Tozeur">Tozeur</option>
                                        <option value="Tunis">Tunis</option>
                                        <option value="Zaghouan">Zaghouan</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select name="nbrRooms" id="types" class="form-control">
                                        <option value="" selected disabled hidden>Chambres</option>
                                        <option value="1">S+1</option>
                                        <option value="2">S+2</option>
                                        <option value="3">S+3</option>
                                        <option value="4">S+4</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select name="duration" id="city" class="form-control">
                                        <option value="" selected disabled hidden>Durée (mois)</option>
                                        <option value="1">Un mois</option>
                                        <option value="2">Deux mois</option>
                                        <option value="3">Trois mois</option>
                                        <option value="4">Quatre mois</option>
                                        <option value="5">Cinq mois</option>
                                        <option value="6">Six mois</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <button type="submit" class="btn rehomes-search-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if hebergementRequests|length != 0 %}
        <section class="rehome-house-sale-area section-padding-80">
            <div class="container">
                <div class="row">
                    {% for hebergementRequest in hebergementRequests %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                <!-- Property Description -->
                                <div class="property-desc-area">
                                    <!-- Property Title & Seller -->
                                    <div class="property-title-seller d-flex justify-content-between">
                                        <!-- Title -->
                                        <div class="property-title">
                                            <h4></h4>
                                            <p><i class="fa fa-phone"></i>:  {{ hebergementRequest.telephone }}</p>
                                        </div>
                                        <!-- Seller -->
                                        <div class="property-seller">
                                            {% if hebergementRequest.isAnonymous == 0 %}
                                                <p>Demandeur</p>
                                                <h6>{{ hebergementRequest.name }}</h6>
                                            {% else %}
                                                <p>Anonyme</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- Property Info -->
                                    <div class="property-info-area d-flex flex-wrap">
                                        <p>{{ hebergementRequest.description }}</p>
                                        <p><strong>Pays d'origine: </strong>{{ hebergementRequest.nativeCountry }}</p>
                                        <p><strong>Date d'arrivée: </strong>{{ hebergementRequest.arrivalDate|date('d-m-Y') }}</p>
                                        {% if hebergementRequest.civilStatus == 0 %}
                                            <p><strong>Marié</strong></p>
                                        {% endif %}
                                        <p><strong>Nombre d'enfants: </strong>{{ hebergementRequest.childrenNumber }}</p>
                                    </div>
                                </div>

                                <!-- Property Price -->
                                <div class="property-price">
                                    <p class="badge-sale">{{ hebergementRequest.region }}</p>
                                    <p class="price">{{ hebergementRequest.creationDate|date('d-m-Y') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(hebergementRequests) }}
            </div>
        </section>
    {% endif %}
{% endblock %}