{% extends 'base_nasri.html.twig' %}

{% block body %}
    <h1>Hebergementrequest</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergementRequest.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergementRequest.description }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ hebergementRequest.region }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ hebergementRequest.state }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hebergementrequest_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hebergementrequest_edit', { 'id': hebergementRequest.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
