{% extends 'base.html.twig' %}
{% block title %}Association{% endblock %}
{% block bread %}<a href="{{ path('association_index') }}">Association</a>{% endblock %}
{% block info %}Associations :{% endblock %}
{% block body %}
    <!-- *************************************************************** -->
    <!-- End Location and Earnings Charts Section -->
    <!-- *************************************************************** -->
    <!-- *************************************************************** -->
    <!-- Start Top Leader Table -->
    <!-- *************************************************************** -->
    <!-- **** Sale area Start **** -->
    <section class="rehome-house-sale-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Nos <span>Associations</span></h2>
                        <p>Ces associations nous font confience.</p>
                    </div>
                </div>
                {% for association in associations %}
                    {% if association.approuved %}
                <!-- Single Property Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                        <!-- Property Thumb -->
                        <div class="property-thumb">
                            <img src="{{ asset('uploads/association/images/'~association.photoAssociation)}}" alt="">
                        </div>

                        <!-- Property Description -->
                        <div class="property-desc-area">
                            <!-- Property Title & Seller -->
                            <div class="property-title-seller d-flex justify-content-between">
                                <!-- Title -->
                                <div class="property-title">
                                    <h4><a href="{{ path('association_show', {'id': association.id}) }}">{{association.nomAssociation}}</a></h4>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ association.rue }} {{ association.codePostal }}, {{ association.ville }}</p>
                                </div>
                                <!-- Seller -->
                                <div class="property-seller">
                                    <p>Telephone:</p>
                                    <h6>{{ association.telephoneAssociation }}</h6>
                                </div>
                            </div>
                            <!-- Property Info -->
                            <div class="property-info-area d-flex flex-wrap">
                                <p> <span></span></p>
                                <p> <span></span></p>
                                <p><span></span></p>
                                <p>Membres: <span>{{ association.members|length }}</span></p>
                            </div>
                        </div>

                        <!-- Property Price -->
                        <div class="property-price">
                            <p class="badge-rent">Domaine d'activité</p>
                            <p class="price"><a href="{{ path('category_show', { 'id': association.domaine.id }) }}">{{ association.domaine}} </a></p>
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
