{% extends '@Backoffice/back/baseback.html.twig' %}
{% block title %}
    Association
{% endblock %}

{% block body %}

    <h1>Association</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.idAssociation }}</td>
                <td>{{ association.typeAssociation }}</td>
                <td>{{ association.nomAssociation }}</td>
                <td>{{ association.manager }}</td>
                <td>{{ association.codePostal }}</td>
                <td>{{ association.ville }}</td>
                <td>{{ association.telephoneAssociation }}</td>
                <td><img height="400px" width="400px" src="{{ asset( association.photoAssociation) }}"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('association_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('association_edit', { 'id': association.idAssociation }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
