{% extends '::baseback.html.twig' %}
{% block title %}Association {{ association.nom }}{% endblock %}
{% block info %}Association {{ association.nom }} :{% endblock %}
{% block bread %}<a href="{{ path('admin_association_index') }}">Association</a> / {{ association.nom }} {% endblock %}
{% block body %}
    <div class="card-group">
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">{{ association.memberships|length }}</h2>
                            <span
                                    class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">0%</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                            Members
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">15</h2>
                            <span
                                    class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Missions accomplis</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 font-weight-medium">
                            2
                        </h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                            Missions en cours
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"> 1,870 DT</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Fonds collectés
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *************************************************************** -->
    <!-- End First Cards -->
    <!-- *************************************************************** -->
    <!-- *************************************************************** -->
    <!-- Start Sales Charts Section -->
    <!-- *************************************************************** -->
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{association.nom }} </h5>
                    <div class="media">
                        <img class="mr-3 img-fluid w-25" src="{{ asset('uploads/association/images/'~association.photo ) }}"
                             alt="Generic placeholder image">
                        <div class="media-body">
                            {{association.description}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Missions : </h5>
                    <div class="card-body">
                        {% if not association.missions and is_granted("ROLE_ASSOCIATION_ADMIN") %}
                            Aucune mission, <a href="{{path('mission_new') }}">Ajouter une </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Membres : </h5>
                    <div class="body">
                        <!-- Members !-->
                        <div class="table-responsive">
                            <table class="table no-wrap v-middle mb-0">
                                <thead>
                                <tr class="border-0">
                                    <th class="border-0 font-14 font-weight-medium text-muted">Membre
                                    </th>
                                    <th class="border-0 font-14 font-weight-medium text-muted px-2">Fonction
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for membership in association.memberships %}
                                <tr>
                                    <td class="border-top-0 px-2 py-4">
                                        <div class="d-flex no-block align-items-center">
                                            <div class="mr-3"><img
                                                        src="{{ asset('uploads/user/images/'~membership.user.image) }}"
                                                        alt="user" class="rounded-circle" width="45"
                                                        height="45" /></div>
                                            <div class="">
                                                <h5 class="text-dark mb-0 font-16 font-weight-medium">{{ membership.user.nom }} {{ membership.user.prenom }}</h5>
                                                <span class="text-muted font-14">{{ membership.user.email }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-top-0 text-muted px-2 py-4 font-14">{{ membership.fonction }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end members -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Emplacement</h4>
                    <div class="" style="height:180px">
                        <div id="map" style="height:100%"></div>
                        <input type="hidden" name="lat_association" id="lat_association" value="{{association.latitude }}" />
                        <input type="hidden" name="lng_association" id="lng_association" value="{{association.longitude }}" />
                    </div>
                </div>
                <div class="card-footer mb-4">
                    <div class="info-box">
                        <a href="#">{{ association.ville }}, {{ association.rue }} {{ association.codePostal }}</a>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> {{ association.telephone }}</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ association.manager.email }}</p>
                        <p><i class="fa fa-ribbon" aria-hidden="true"></i> <a href="#">{{ association.manager.nom }} {{ association.manager.prenom }}</a></p>
                    </div>
                    <div class="box-tools">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        {%  if not association.manager.approuved  %}
                        <button type="button" onclick="location.href = ('{{ path('admin_association_approve' , { 'id': association.id }) }}');" class="btn btn-info btn-circle-lg"><i class="fa fa-check"></i> Confirmer
                        </button>
                        {% else %}
                        <button type="button" onclick="location.href = ('{{ path('admin_association_ban' , { 'id': association.id }) }}');" class="btn btn-danger btn-circle-lg"><i class="fa fa-times"></i> Bannir
                        </button>
                        {% endif %}
                            <a class="btn btn-info" href="{{ asset('uploads/association/pieces/'~association.pieceJustificatif) }}" download>
                                <i class="fa fa-download"></i>
                                <img src="{{ asset('uploads/association/pieces/'~association.pieceJustificatif) }}" alt="{{ 'Piece justificave : '~association.pieceJustificatif}}">
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-info btn-circle-lg"><i class="fa fa-check"></i> Confirmé
                            </button>
                            <a class="btn btn-info" href="{{ asset('uploads/association/pieces/'~association.pieceJustificatif) }}" download>
                                <i class="fa fa-download"></i>
                                <img src="{{ asset('uploads/association/pieces/'~association.pieceJustificatif) }}" alt="{{ 'Piece justificave : '~association.pieceJustificatif}}">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% for member in association.members %}
            {{ member.prenom }}
        {% endfor %}
        {% if is_granted("ROLE_ASSOCIATION_ADMIN") %}
        {{ form_start(edit_form, {'method': 'post','action': path('manager_association_edit',{'id': association.id })}) }}
        {{ form_widget(edit_form) }}

        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
        {% endif %}
    </div>

    <script>

        function initMap() {
            var myLatLng = {lat: {{association.latitude}}, lng: {{association.longitude}}};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{association.ville}}'
            });




        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD00UW-yFHi17pDyHLe19_ImRpo0ja5Q3k&callback=initMap">
    </script>

{% endblock %}
