{% extends '::baseback.html.twig' %}

{% block body %}
    <h1>Mission edit</h1>
    {% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(edit_form) }}
    <br><br>

<div style="display:flex;align-content: center !important">


    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        {{ form_widget(edit_form) }}
</div>
    <button type="submit" value="Create" class="btn btn-primary" style="width: 100px">Submit</button>

    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('mission_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
