<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Reactors - Votre plateforme de bénévolat{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/back/images/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('assets/appfront/style.css') }}">
    <!--ramy stuff don't touch-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/rating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('assets/rating/js/rating.js') }}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="preloader">
    <div class="loader"></div>
</div>

<header class="header-area">
    <div class="main-header-area animated">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="rehomesNav">
                    <a class="nav-brand" href="{{ path('homepage') }}">
                        <img src="{{ asset('assets/back/images/icons/favicon-32x32.png') }}" alt=""></a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li class="active"><a href="{{ path('homepage') }}">- Page d'acceuil</a></li>
                                        <li><a href="{{ path('association_index') }}">- Association</a></li>
                                        <li><a href="{{ path('category_index')}}">- Domaines</a></li>
                                        <li><a href="{{ path('mission_index')}}">- Missions</a></li>
                                        <li><a href="{{ path('forum_homepage')}}">- Forum</a></li>
                                        <li><a href="{{path('reclamation_homepage')}}">- Support</a></li>
                                        <li><a href="{{path('refugee_homepage')}}">- Réfugiée / Hébergement</a></li>
                                        <li><a href="blog">- Contact</a></li>
                                    </ul>
                                </li>
                                {% if app.user %}
                                    <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                                    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                                {% else %}
                                    <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                                    <li><a href="{{ path('admin_association_register') }}">Association ?</a></li>
                                {% endif %}
                            </ul>
                            <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                                    <a href="{{ path('refugee_homepage') }}">Refugié</a>
                                {% if not app.user  %}
                                    <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                                {% elseif is_granted('ROLE_SUPER_ADMIN')  %}
                                    <a href="{{ path('dashboard_admin_homepage') }}">Dashboard</a>
                                {% elseif is_granted('ROLE_ASSOCIATION_ADMIN')  %}
                                    <a href="{{ path('dashboard_manager_homepage') }}">Dashboard</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<body>


<div class="breadcrumb-area bg-img bg-overlay-3 wow fadeInUp" data-wow-delay="200ms" style="background-image: url({{ asset('assets/appfront/img/bg-img/30.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Reactors </a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% block bread %} Acceuil {% endblock %}</li>
                        </ol>
                    </nav>
                    <h2 class="page-title">{% block info %}Acceuil {% endblock %}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **** Location Search Form Area **** -->
<!-- **** Location Search Form Area **** -->



{% block fos_user_content %}
{% endblock %}


<section class="rehome-house-sale-area section-padding-100-60">
    <div class="container">
            {% block body %}
            {% endblock %}
            {% block content %}
            {% endblock %}
    </div>
</section>
<!-- **** Sale Area End **** -->
</body>
<!-- **** Footer Area Start **** -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0" style="background-image: url({{ asset('assets/appfront/img/bg-img/17.jpg') }});">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Footer Widget Area -->
                    <div class="col-12 text-center">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Info - Contact</h5>

                            <!-- Contact Area -->
                            <div class="footer-contact">
                                <p>Phone: <span>(12) 345 6789</span></p>
                                <p>Email: <span>reacotrs@gmail.com</span></p>
                                <p>Address: <span>ESPRIT, Ariana Soghra</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 text-center">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Droits Resérves &copy;<script>document.write(new Date().getFullYear());</script>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- **** Footer Area End **** -->

<!-- **** All JS Files ***** -->

    <!-- jQuery 2.2.4 -->
    <script src="{{ asset('assets/appfront/js/jquery.min.js') }}"></script>
    <!-- Popper -->
    <script src="{{ asset('assets/appfront/js/popper.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/appfront/js/bootstrap.min.js') }}"></script>
    <!-- All Plugins -->
    <script src="{{ asset('assets/appfront/js/rehomes.bundle.js') }}"></script>
    <!-- Active -->
    <script src="{{ asset('assets/appfront/js/default-assets/active.js') }}"></script>

{% block javascript %}

{% endblock %}
</body>

</html>