<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Reactors - Votre plateforme de bénévolat{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/back/images/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('assets/appfront/style.css') }}">
    <script src="https://kit.fontawesome.com/87cdab7d2a.js" crossorigin="anonymous"></script>
    <!--ramy stuff don't touch-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/rating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('assets/rating/js/rating.js') }}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="preloader">
    <div class="loader"></div>
</div>

<header class="header-area">
    <div class="main-header-area animated">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="rehomesNav">
                    <a class="nav-brand" href="{{ path('homepage') }}">
                        <img src="{{ asset('assets/back/images/icons/favicon-32x32.png') }}" alt=""></a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul id="nav">
<<<<<<< HEAD
                                <li>
                                <li class="active"><a href="{{ path('homepage') }}">Page d'acceuil</a></li>
                                <li><a href="{{ path('association_index') }}">Association</a></li>
                                <li><a href="{{ path('don_homepage') }}">Don</a></li>
                                </li>

                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="{{ path('don_index') }}">- Don</a></li>
                                        <li><a href="{{ path('demande_index') }}">- Demande d'aide</a></li>
=======
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li class="active"><a href="{{ path('homepage') }}">- Page d'acceuil</a></li>
                                        <li><a href="{{ path('association_index') }}">- Association</a></li>
>>>>>>> cb56f420a8b89a2243a857d6305aaba285b48730
                                        <li><a href="{{ path('category_index')}}">- Domaines</a></li>
                                        <li><a href="{{ path('mission_index')}}">- Missions</a></li>
                                        <li><a href="{{ path('forum_homepage')}}">- Forum</a></li>
                                        <li><a href="{{path('reclamation_homepage')}}">- Support</a></li>
                                        <li><a href="{{path('refugee_homepage')}}">- Réfugiée / Hébergement</a></li>
                                        <li><a href="blog">- Contact</a></li>
                                    </ul>
                                </li>
                                {% if app.user %}
                                    <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                                    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                                {% else %}
                                    <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                                    <li><a href="{{ path('admin_association_register') }}">Association ?</a></li>
                                {% endif %}
                            </ul>
                            <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                                    <a href="{{ path('refugee_homepage') }}">Refugié</a>
                                {% if not app.user  %}
                                    <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                                {% elseif is_granted('ROLE_SUPER_ADMIN')  %}
                                    <a href="{{ path('dashboard_admin_homepage') }}">Dashboard</a>
                                {% elseif is_granted('ROLE_ASSOCIATION_ADMIN')  %}
                                    <a href="{{ path('dashboard_manager_homepage') }}">Dashboard</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<body>


<div class="breadcrumb-area bg-img bg-overlay-3 wow fadeInUp" data-wow-delay="200ms" style="background-image: url({{ asset('assets/appfront/img/bg-img/30.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Reactors </a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% block bread %} Acceuil {% endblock %}</li>
                        </ol>
                    </nav>
                    <h2 class="page-title">{% block info %}Acceuil {% endblock %}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **** Location Search Form Area **** -->
<!-- **** Location Search Form Area **** -->



{% block fos_user_content %}
{% endblock %}


<section class="rehome-house-sale-area section-padding-100-60">
    <div class="container">
            {% block body %}
                <!-- **** Sale area Start **** -->
                <section class="rehome-house-sale-area section-padding-100-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                                    <h2>Top Donateur Pour <span>Ce Mois</span></h2>
                                    <p>Cela sont les personnes qui ont le plus donné de leur aide ce mois-ci</p>
                                </div>
                            </div>

                            <!-- Single Property Area -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <img src="img/bg-img/1.jpg" alt="">
                                    </div>

                                    <!-- Property Description -->
                                    <div class="property-desc-area">
                                        <!-- Property Title & Seller -->
                                        <div class="property-title-seller d-flex justify-content-between">
                                            <!-- Title -->
                                            <div class="property-title">
                                                <h4>Donateur 1</h4>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ariana,Ariana Soghra</p>
                                            </div>

                                        </div>
                                        <!-- Property Info -->
                                        <div class="property-info-area d-flex flex-wrap">
                                            <p>personne aidée: <span>11</span></p>
                                            <p>participation mission: <span>2</span></p>

                                        </div>
                                    </div>

                                    <!-- Property Price -->
                                    <div class="property-price">
                                        <p class="badge-rent">Jusqu'a</p>
                                        <p class="price">215TND de donation</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Property Area -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <img src="img/bg-img/1.jpg" alt="">
                                    </div>

                                    <!-- Property Description -->
                                    <div class="property-desc-area">
                                        <!-- Property Title & Seller -->
                                        <div class="property-title-seller d-flex justify-content-between">
                                            <!-- Title -->
                                            <div class="property-title">
                                                <h4>Donateur 1</h4>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ariana,Ariana Soghra</p>
                                            </div>

                                        </div>
                                        <!-- Property Info -->
                                        <div class="property-info-area d-flex flex-wrap">
                                            <p>personne aidée: <span>11</span></p>
                                            <p>participation mission: <span>2</span></p>

                                        </div>
                                    </div>

                                    <!-- Property Price -->
                                    <div class="property-price">
                                        <p class="badge-rent">Jusqu'a</p>
                                        <p class="price">215TND de donation</p>
                                    </div>
                                </div>
                            </div>


                            <!-- Single Property Area -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <img src="img/bg-img/1.jpg" alt="">
                                    </div>

                                    <!-- Property Description -->
                                    <div class="property-desc-area">
                                        <!-- Property Title & Seller -->
                                        <div class="property-title-seller d-flex justify-content-between">
                                            <!-- Title -->
                                            <div class="property-title">
                                                <h4>Donateur 1</h4>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ariana,Ariana Soghra</p>
                                            </div>

                                        </div>
                                        <!-- Property Info -->
                                        <div class="property-info-area d-flex flex-wrap">
                                            <p>personne aidée: <span>11</span></p>
                                            <p>participation mission: <span>2</span></p>

                                        </div>
                                    </div>

                                    <!-- Property Price -->
                                    <div class="property-price">
                                        <p class="badge-rent">Jusqu'a</p>
                                        <p class="price">215TND de donation</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Property Area -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <img src="img/bg-img/1.jpg" alt="">
                                    </div>

                                    <!-- Property Description -->
                                    <div class="property-desc-area">
                                        <!-- Property Title & Seller -->
                                        <div class="property-title-seller d-flex justify-content-between">
                                            <!-- Title -->
                                            <div class="property-title">
                                                <h4>Donateur 1</h4>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ariana,Ariana Soghra</p>
                                            </div>

                                        </div>
                                        <!-- Property Info -->
                                        <div class="property-info-area d-flex flex-wrap">
                                            <p>personne aidée: <span>11</span></p>
                                            <p>participation mission: <span>2</span></p>

                                        </div>
                                    </div>

                                    <!-- Property Price -->
                                    <div class="property-price">
                                        <p class="badge-rent">Jusqu'a</p>
                                        <p class="price">215TND de donation</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Property Area -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <img src="img/bg-img/1.jpg" alt="">
                                    </div>

                                    <!-- Property Description -->
                                    <div class="property-desc-area">
                                        <!-- Property Title & Seller -->
                                        <div class="property-title-seller d-flex justify-content-between">
                                            <!-- Title -->
                                            <div class="property-title">
                                                <h4>Donateur 1</h4>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ariana,Ariana Soghra</p>
                                            </div>

                                        </div>
                                        <!-- Property Info -->
                                        <div class="property-info-area d-flex flex-wrap">
                                            <p>personne aidée: <span>11</span></p>
                                            <p>participation mission: <span>2</span></p>

                                        </div>
                                    </div>

                                    <!-- Property Price -->
                                    <div class="property-price">
                                        <p class="badge-rent">Jusqu'a</p>
                                        <p class="price">215TND de donation</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Property Area -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <img src="img/bg-img/1.jpg" alt="">
                                    </div>

                                    <!-- Property Description -->
                                    <div class="property-desc-area">
                                        <!-- Property Title & Seller -->
                                        <div class="property-title-seller d-flex justify-content-between">
                                            <!-- Title -->
                                            <div class="property-title">
                                                <h4>Donateur 1</h4>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ariana,Ariana Soghra</p>
                                            </div>

                                        </div>
                                        <!-- Property Info -->
                                        <div class="property-info-area d-flex flex-wrap">
                                            <p>personne aidée: <span>11</span></p>
                                            <p>participation mission: <span>2</span></p>

                                        </div>
                                    </div>

                                    <!-- Property Price -->
                                    <div class="property-price">
                                        <p class="badge-rent">Jusqu'a</p>
                                        <p class="price">215TND de donation</p>
                                    </div>
                                </div>
                            </div>

                </section>
                <!-- **** Sale Area End **** -->

                <!-- **** Choose Us Area Start **** -->
                <section class="rehomes-choose-us-area section-padding-100-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                                    <h2><span>Pourquoi</span> Nous faire confiance?</h2>
                                    <p>On peut vous facilite largement la tache d'aider les person au depourvu.</p>
                                </div>
                            </div>

                            <!-- Single choose us content -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Choose us Icon -->
                                    <div class="choose-us-icon">
                                        <i class="icon_search"></i>
                                    </div>
                                    <h5>Trouve la bonne cible</h5>
                                    <p>Choisir la bonne personne a aider a toujours ete chère et difficile. On vous facilite largement cette tache .</p>
                                </div>
                            </div>

                            <!-- Single choose us content -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Choose us Icon -->
                                    <div class="choose-us-icon">
                                        <i class="icon_building"></i>
                                    </div>
                                    <h5>Donner leur un toit</h5>
                                    <p>Plusieur personne n'ont meme pas un abris ou dormir ou vivre. Changer leur vie n'a jamais ete aussi simple en leur proposent se que vous pouver leur offrir. </p>
                                </div>
                            </div>

                            <!-- Single choose us content -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Choose us Icon -->
                                    <div class="choose-us-icon">
                                        <i class="icon_creditcard"></i>
                                    </div>
                                    <h5>Aider n'a jamais ete aussi moins cher</h5>
                                    <p>En avoir recours a nos service vous economiser largement de l'argent qui peut etre utiliser a mieux aider les gens. </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- **** Choose Us Area End **** -->

                <!-- **** Categories By Property Area Start **** -->
                <section class="rehomes-categories-property-area section-padding-100-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                                    <h2>La Crise des  <span>Réfugiés</span> Vous appele</h2>
                                    <p>On ne dois pas oublier le besoin de nos voisin qui sont venu commencer une nouvelle vie.Offrer leur ou vivre!.</p>
                                </div>
                            </div>

                            <!-- Single Categories and Property Content -->
                            <div class="col-12 col-md-8">
                                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <a href="#"><img src="{{asset('assets/front/images/Refugee1.jpg')}}" alt=""></a>
                                    </div>
                                    <!-- Title -->
                                    <a class="categories-title" href="#">A l'aide!</a>
                                    <!-- Property Name and Price -->
                                    <div class="property-name-price-text">
                                        <a href="#">Crise en europe</a>
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Categories and Property Content -->
                            <div class="col-12 col-md-4">
                                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <a href="#"><img src="{{asset('assets/front/images/Refugee2.jpg')}}" alt=""></a>
                                    </div>
                                    <!-- Title -->
                                    <a class="categories-title" href="#">Venu en masse</a>
                                    <!-- Property Name and Price -->
                                    <div class="property-name-price-text">
                                        <a href="#"></a>
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Categories and Property Content -->
                            <div class="col-12 col-md-4">
                                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <a href="#"><img src="{{asset('assets/front/images/Refugee3.jpg')}}" alt=""></a>
                                    </div>
                                    <!-- Title -->
                                    <a class="categories-title" href="#">Réfugiés SDF</a>
                                    <!-- Property Name and Price -->
                                    <div class="property-name-price-text">
                                        <a href="#"></a>
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Categories and Property Content -->
                            <div class="col-12 col-md-8">
                                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Property Thumb -->
                                    <div class="property-thumb">
                                        <a href="#"><img src="{{asset('assets/front/images/Refugee4.jpg')}}" alt=""></a>
                                    </div>
                                    <!-- Title -->

                                    <!-- Property Name and Price -->
                                    <div class="property-name-price-text">
                                        <a href="#">Aider les a s'approvisionne</a>
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- **** Categories By Property Area End **** -->

                <!-- **** Call to Action Area Start **** -->
                <section class="rehome-call-to-action-area bg-overlay bg-img jarallax section-padding-100" style="background-image: url(img/bg-img/11.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7">
                                <!-- Call to Action Content -->
                                <div class="call-to-action-content wow fadeInUp" data-wow-delay="200ms">
                                    <h2>Adhérer maintenant!</h2>
                                    <p>Inscivez vous et commence a faire la difference .</p>
                                    <!-- Button -->
                                    <div class="download-btn">
                                        <a class="mr-2" href="#"><img src="img/bg-img/12.png" alt=""></a>
                                        <a href="#"><img src="img/bg-img/13.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- **** Call to Action Area End **** -->

                <!-- **** Blog area Start **** -->
                <section class="rehome-blog-area section-padding-100-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Section Heading -->
                                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                                    <h2>Nos <span>Fonctionnalité</span></h2>
                                    <p>Soyez nombreux a beneficier de nos service pour bien etre au courant des malheurs de nos frere et soeur.</p>
                                </div>
                            </div>

                            <!-- Single blog content -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img src="{{asset('assets/back/images/icons/Refugee1.jpg')}}" alt="">
                                    </div>
                                    <a class="post-title" href="#">Rejougnez les nouvelle mission organiser par nos association et developer vos compétences social.</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-author" href="#">By Polly Williams</a>
                                        <a class="post-date" href="#">Dec 19, 2018</a>
                                        <a class="post-comment" href="#">3 Comment</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single blog content -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img src="img/bg-img/15.jpg" alt="">
                                    </div>
                                    <a class="post-title" href="#">Participer a notre forum multi-threads et topic pour mieux connaitre les condition de vie de certain gens .</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-author" href="#">By Mattie Ramirez </a>
                                        <a class="post-date" href="#">Dec 19, 2018</a>
                                        <a class="post-comment" href="#">3 Comment</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single blog content -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img src="img/bg-img/16.jpg" alt="">
                                    </div>
                                    <a class="post-title" href="#">Si vous rencontre un problème contacter directement votre service en envoyer un ticket dans notre support.</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a class="post-author" href="#">By Nicholas Brewer</a>
                                        <a class="post-date" href="#">Dec 19, 2018</a>
                                        <a class="post-comment" href="#">3 Comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- **** Blog area End **** -->

                <!-- **** Partner Area Start **** -->
                <div class="partner-area wow fadeInUp" data-wow-delay="200ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="partner-logo-slide owl-carousel">
                                    <!-- Single Partner Logo -->
                                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms"><img src="img/core-img/1.png" alt=""></a>
                                    <!-- Single Partner Logo -->
                                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms"><img src="img/core-img/2.png" alt=""></a>
                                    <!-- Single Partner Logo -->
                                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms"><img src="img/core-img/3.png" alt=""></a>
                                    <!-- Single Partner Logo -->
                                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms"><img src="img/core-img/4.png" alt=""></a>
                                    <!-- Single Partner Logo -->
                                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms"><img src="img/core-img/5.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block content %}
            {% endblock %}
    </div>
</section>
<!-- **** Sale Area End **** -->
</body>
<!-- **** Footer Area Start **** -->
    <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0" style="background-image: url({{ asset('assets/appfront/img/bg-img/17.jpg') }});">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Footer Widget Area -->
                    <div class="col-12 text-center">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Info - Contact</h5>

                            <!-- Contact Area -->
                            <div class="footer-contact">
                                <p>Phone: <span>(12) 345 6789</span></p>
                                <p>Email: <span>reacotrs@gmail.com</span></p>
                                <p>Address: <span>ESPRIT, Ariana Soghra</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 text-center">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Droits Resérves &copy;<script>document.write(new Date().getFullYear());</script>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- **** Footer Area End **** -->

<!-- **** All JS Files ***** -->

    <!-- jQuery 2.2.4 -->
    <script src="{{ asset('assets/appfront/js/jquery.min.js') }}"></script>
    <!-- Popper -->
    <script src="{{ asset('assets/appfront/js/popper.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/appfront/js/bootstrap.min.js') }}"></script>
    <!-- All Plugins -->
    <script src="{{ asset('assets/appfront/js/rehomes.bundle.js') }}"></script>
    <!-- Active -->
    <script src="{{ asset('assets/appfront/js/default-assets/active.js') }}"></script>

{% block javascript %}

{% endblock %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% block javascripts %}

{% endblock %}
</body>

</html>