{% if not app.user %}
    <script>
        window.location = "{{ url('fos_user_security_login') }}";
    </script>
{% endif  %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Dashboard - {% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/back/images/icons/favicon.ico') }}">
    <link href="{{ asset('assets/back/dist/css/style.min.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/back/images/favicon.png')}}">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/back/extra-libs/c3/c3.min.css') }}" rel="stylesheet">
    <link href={{ asset('assets/back/libs/chartist/dist/chartist.min.css')}} rel="stylesheet">
    <link href={{ asset('assets/back/extra-libs/jvector/jquery-jvectormap-2.0.2.css')}} rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{{ asset('assets/back/dist/css/style.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    <link href="{{ asset('assets/back/dist/css/MissionCards.css')}}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    {% block stylesheets %}{% endblock %}

</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                                class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a {% if is_granted('ROLE_SUPER_ADMIN') %}
                                href="{{ path('dashboard_admin_homepage')}}"
                           {% elseif is_granted('ROLE_ASSOCIATION_ADMIn')%}
                                 href="{{ path('dashboard_manager_homepage') }}"
                           {% endif %}
                        >
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img style="margin-top: 20px" src="{{ asset('/assets/back/images/icons/android-icon-48x48.png') }}" alt="" class="dark-logo" />
                                <!-- Light Logo icon -->
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <h3  class="dark-logo page-title text-truncate  font-weight-medium mb-1 " >Reactors
</h3>
                                <!-- Light Logo text -->
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                               id="bell" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <span><i data-feather="bell" class="svg-icon"></i></span>
                                <span id="nbrNotif" class="badge badge-primary notify-no rounded-circle"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
                                <ul class="list-style-none">
                                    <li>
                                        <div id="ListNotification" class="message-center notifications position-relative">
                                            <!-- Message
                                            <a href='javascript:void(0)'
                                               class='message-item d-flex align-items-center border-bottom px-3 py-2'>
                                                <div class='w-75 d-inline-block v-middle pl-2'>
                                                    <h6 class='message-title mb-0 mt-1'>Luanch Admin</h6>
                                                    <span class='font-12 text-nowrap d-block text-muted'>Just see
                                                        the my new
                                                        admin!</span>
                                                    <span class='font-12 text-nowrap d-block text-muted'>9:30 AM</span>
                                                </div>
                                            </a>-->

                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link pt-3 text-center text-dark" href="{{ path('notification_index') }}">
                                            <strong>Check all notifications</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="{% if app.user %}{{asset('/uploads/user/images/'~ app.user.image )}}{% endif %}" alt="user" class="rounded-circle"
                                     width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                            class="text-dark">{% if app.user %}{{   app.user.username }}{% endif %}</span> <i data-feather="chevron-down"
                                                                                                                              class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                                    <i data-feather="user" class="svg-icon mr-2 ml-1"></i>My Profile
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="mail" class="svg-icon mr-2 ml-1"></i>Inbox
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{path('fos_user_security_logout')}}">
                                    <i data-feather="power" class="svg-icon mr-2 ml-1"></i>Logout
                                </a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item selected">
                            <a class="sidebar-link sidebar-link"
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                href="{{ path('dashboard_admin_homepage')}}"
                            {% elseif is_granted('ROLE_ASSOCIATION_ADMIN')%}
                                href="{{ path('dashboard_manager_homepage') }}"
                            {% endif %} aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu page-title text-truncate text-dark font-weight-medium">Reactors Menu</span></li>
                        <!--  Section chihab-->
                        <!-- Association section -->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">Gestion d'association :</span>
                            </a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="{{ path('admin_association_index') }}" class="sidebar-link">
                                        <span class="hide-menu">
                                            Liste des associations
                                        </span>
                                        </a>
                                    </li>
                                </ul>
                            {% elseif is_granted('ROLE_ASSOCIATION_ADMIN')%}
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="{{ path('manager_association_index') }}" class="sidebar-link">
                                        <span class="hide-menu">
                                            Votre association
                                        </span>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}

                        </li>
                        <!-- Domaine section -->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">Gestion de domaines d'activités : </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="{{ path('category_index') }}" class="sidebar-link">
                                        <span class="hide-menu">
                                            Liste des domaine d'activité
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{ path('category_new') }}" class="sidebar-link">
                                        <span class="hide-menu">
                                            Créer domaine d'activité
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--  Section issam-->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="icon-people"></i>
                                <span class="hide-menu">Gestion des utilisateurs </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">
                                        <span class="hide-menu">
                                            Gestion de domaines d'activités
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">
                                        <span class="hide-menu">
                                            Lister Association
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">
                                        <span class="hide-menu">
                                            Update/Delete Association
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <!--  Section nasri-->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="bar-chart" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Mission
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="{{ path('mission_index') }}" class="sidebar-link"><span
                                                class="hide-menu"> Lister Mission
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                                class="hide-menu"> Update/Delete Mission
                                        </span></a>
                                </li>

                            </ul>
                        </li>
                        <!--  Section mouhamed-->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                     aria-expanded="false"><i data-feather="box" class="feather-icon"></i><span
                                        class="hide-menu">Dons </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="ui-buttons.html" class="sidebar-link"><span
                                                class="hide-menu"> Approuver demandes d'aide
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="ui-modals.html" class="sidebar-link"><span
                                                class="hide-menu"> Lister les demandes d'aide </span></a>
                                </li>
                                <li class="sidebar-item"><a href="ui-tab.html" class="sidebar-link"><span
                                                class="hide-menu"> Gérer demandes d'aide </span></a></li>


                            </ul>
                        </li>
                        <!--  Section ramy-->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false"><i data-feather="box" class="feather-icon"></i><span
                                        class="hide-menu">Dons </span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="ui-buttons.html" class="sidebar-link"><span
                                                class="hide-menu"> Approuver demandes d'aide
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="ui-modals.html" class="sidebar-link"><span
                                                class="hide-menu"> Lister les demandes d'aide </span></a>
                                </li>
                                <li class="sidebar-item"><a href="ui-tab.html" class="sidebar-link"><span
                                                class="hide-menu"> Gérer demandes d'aide </span></a></li>


                            </ul>
                        </li>
                        <!--  Section malek-->
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">FAQ</span></li>


                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                                     href="#" aria-expanded="false"><i data-feather="lock"
                                                                                       class="feather-icon"></i><span class="hide-menu">Aide ?
                                </span></a>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link"
                                                     href="#" aria-expanded="false"><i data-feather="lock"
                                                                                       class="feather-icon"></i><span class="hide-menu">Contacter nous !
                                </span></a>
                        </li>
                        <li class="list-divider"></li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>


    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">{% block info %} {% endblock %}</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        href="{{ path('dashboard_admin_homepage')}}"
                                    {% elseif is_granted('ROLE_ASSOCIATION_ADMIN')%}
                                        href="{{ path('dashboard_manager_homepage') }}"
                                    {% endif %} class="text-muted">Dashboard</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">{% block bread %}  {% endblock %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 2">
            <div class="toast fade hide" id="toast" data-autohide="false" style="position: absolute; top: 0; right: 0;">
                <div class="toast-header">
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <strong class="mr-auto">Notification</strong>
*                    <button type="button" class="ml-2 mb-1 close" onclick="f()" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    New notification ! please check it :)
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% block body %}

            {% endblock %}
            {% block content %}

            {% endblock %}
            {% block fos_user_content %}
            {% endblock %}
        </div>
    </div>

    <footer class="footer text-center text-muted">
        All Rights Reserved by Tropical Monkeys.

    </footer>

</div>

    <script src="{{ asset('assets/back/libs/jquery/dist/jquery.min.js') }}"></script>

    <script src={{ asset('assets/back/libs/popper.js/dist/umd/popper.min.js')}}></script>
    <script src={{ asset('assets/back/libs/bootstrap/dist/js/bootstrap.min.js')}}></script>
    <script src={{ asset('assets/back/dist/js/app-style-switcher.js')}}></script>
    <script src={{ asset('assets/back/dist/js/feather.min.js')}}></script>
    <script src={{ asset('assets/back/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js')}}></script>
    <script src={{ asset('assets/back/dist/js/sidebarmenu.js')}}></script>
    <script src={{ asset('assets/back/dist/js/custom.min.js')}}></script>
    <script src={{ asset('assets/back/extra-libs/c3/d3.min.js')}}></script>
    <script src={{ asset('assets/back/extra-libs/c3/c3.min.js')}}></script>
    <script src={{ asset('assets/back/libs/chartist/dist/chartist.min.js')}}></script>
    <script src={{ asset('assets/back/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js')}}></script>
    <script src={{ asset('assets/back/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js')}}></script>
    <script src={{ asset('assets/back/extra-libs/jvector/jquery-jvectormap-world-mill-en.js')}}></script>
    <script src={{ asset('assets/back/dist/js/pages/dashboards/dashboard1.min.js')}}></script>
<script src="https://js.pusher.com/5.1/pusher.min.js"></script>

{{ notifications_assets() }}

<script>
    function f() {document.getElementById('toast').classList.replace('show','hide') ; }
    function sendAccepter(id_notification,this1)
    {
        document.getElementById("btn_notif"+id_notification).style.display="none";
        document.getElementById("spinner_notif"+id_notification).innerHTML='<div style="text-align: center;"><i class="fa fa-spinner fa-spin"></i></div> ';
        $.ajax({
            url:  "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/notification/AcceptInvi/"+id_notification,
            method: "POST",
            data: id_notification,
            success: function (response) {
                console.log(response);

                document.getElementById("spinner_notif"+id_notification).style.color ="green";
                setTimeout(function(){
                    document.getElementById("spinner_notif"+id_notification).innerHTML='<div style="text-align: center;"><i class="fa fa-check"></i></div> ';
                }, 4000);
            }
        });



    }



    function sendRefuser(id_notification,this1)
    {
        document.getElementById("btn_notif"+id_notification).style.display="none";
        document.getElementById("spinner_notif"+id_notification).innerHTML='<div style="text-align: center;"><i class="fa fa-spinner fa-spin"></i>\n' +
            '                                    <span class="sr-only">Loading...</span>\n' +
            '                                </div></div> ';
        $.ajax({
            url:  "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/notification/RefuserInvi/"+id_notification,
            method: "POST",
            data: id_notification,
            success: function (response) {

                setTimeout(function(){
                    document.getElementById("spinner_notif"+id_notification).innerHTML='<div style="text-align: center;color:red"><i class="fas fa-times"></i></div> ';
                }, 4000);
            }
        });



    }

    var DataNotification=[];
    $(document).ready(function(){
        $.ajax({
            url:  "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/notification/list",
            method: "POST",
            data: {{  app.user.id }},
            success: function (dataNotif) {
                document.getElementById("nbrNotif").innerHTML="<span>"+dataNotif.length+"</span>";


                for (let i = 0; i <5 ; i++) {
                    var url = '{{ path("notification_show", {'id': 'notif_id'}) }}';
                    url = url.replace("notif_id", dataNotif[i].id);
                    console.log("Invi----"+JSON.stringify(dataNotif[i].seen));

                    document.getElementById("ListNotification").innerHTML+="  <a href="+url+"\n" +
                        "                                               class='message-item d-flex align-items-center border-bottom px-3 py-2'><span id='spinner_notif"+dataNotif[i].id+"' ></span>\n" +
                        "                                                <div class='w-75 d-inline-block v-middle pl-2'>\n" +
                        "                                                    <h6 class='message-title mb-0 mt-1'>"+dataNotif[i].title+"</h6>\n" +
                        "                                                    <span class='font-12 text-nowrap d-block text-muted'>"+dataNotif[i].description+"</span>\n"+
                        "                                                    <span class='font-12 text-nowrap d-block text-muted'>"+dataNotif[i].date.date+"</span>\n" +
                        "                                                </div>\n" +
                        "                                            </a>" +
                    "                                                    <span style='margin-left: 10px' id='btn_notif"+dataNotif[i].id+"' ></span>"

                    ;
                    if(dataNotif[i].id_invitation!=null){
                        document.getElementById("btn_notif"+dataNotif[i].id).innerHTML="<button type=\"button\" class=\"btn btn-success\" onclick=\"sendAccepter("+dataNotif[i].id+",this)\">Accepter</button>\n" +
                            "<button type=\"button\" class=\"btn btn-danger\" onclick=\"sendRefuser("+dataNotif[i].id+",this)\">Refuser</button>     "

                    }
                    if(dataNotif[i].seen==true){
                    document.getElementById("btn_notif"+dataNotif[i].id).style.display="none";
                 document.getElementById("spinner_notif"+dataNotif[i].id).innerHTML='<div style="text-align: center;color:green"><i class="fa fa-check"></i></div> ';

                    }
                }

            }
        });

    });
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('988ad031a8039b900242', {
        cluster: 'eu',
        forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
        //alert(JSON.stringify(data));
    });

    // select the channel you want to listen to
    var channel = pusher.subscribe("notifications");// notifications channel
    channel.bind("my-event", function(data) {
        // console.log('from notifications channel', data);
        // console.log("MyData-----"+data);

        $.ajax({
            url:  "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/mission/notification",
            method: "POST",
            data: data,
            success: function (dataNotif) {
             console.log("Response -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------");
                document.getElementById("nbrNotif").innerHTML="<span>"+dataNotif.length+"</span>";
                document.getElementById("ListNotification").innerHTML="";
                $("#toast").removeClass("hide");

                $("#toast").addClass("show");
                for (let i = 0; i <5 ; i++) {
                    var url = '{{ path("notification_show", {'id': 'notif_id'}) }}';
                    url = url.replace("notif_id", dataNotif[i].id);
                    console.log("Invi----"+JSON.stringify(dataNotif[i].seen));


                    document.getElementById("ListNotification").innerHTML+="  <a href='"+url+"' class='message-item d-flex align-items-center border-bottom px-3 py-2'><span id='spinner_notif"+dataNotif[i].id+"' ></span>\n" +
                        "                                                <div class='w-75 d-inline-block v-middle pl-2'>\n" +
                        "                                                    <h6 class='message-title mb-0 mt-1'>"+dataNotif[i].title+"</h6>\n" +
                        "                                                    <span class='font-12 text-nowrap d-block text-muted'>"+dataNotif[i].description+"</span>\n"+
                        "                                                    <span class='font-12 text-nowrap d-block text-muted'>"+dataNotif[i].date.date+"</span>\n" +
                        "                                                </div>\n" +
                        "                                            </a>" +
                        "                                                    <span style='margin-left: 10px' id='btn_notif"+dataNotif[i].id+"' ></span>";
                    if(dataNotif[i].id_invitation!=null){
                        document.getElementById("btn_notif"+dataNotif[i].id).innerHTML="<button type=\"button\" class=\"btn btn-success\" onclick=\"sendAccepter("+dataNotif[i].id+",this)\">Accepter</button>\n" +
                            "<button type=\"button\" class=\"btn btn-danger\" onclick=\"sendRefuser("+dataNotif[i].id+",this)\">Refuser</button>     "

                    }
                    if(dataNotif[i].seen===true){
                        document.getElementById("btn_notif"+dataNotif[i].id).style.display="none";
                        document.getElementById("spinner_notif"+dataNotif[i].id).innerHTML='<div style="text-align: center;color:green"><i class="fa fa-check"></i></div> ';

                    }
                }

            }
        });
        //showNotification(data);
    });

    var channel = pusher.subscribe("messages");// messages channel
    channel.bind("my-event", function(data) {
        console.log('from messages channel', data);
    });
    function showNotification(data) {

    }
</script>
{% block javascripts %}
{% endblock %}


</body>
</html>
