{% extends '::base.html.twig' %}
{% block stylesheets %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>

                    <th>Sujet</th>
                    <th>Description</th>
                    <th>Date de la dernier MAJ</th>
                    <th>Status</th>
                    <th>Reponse</th>
                </tr>
                </thead>
                <tbody>
                {% for i in requet %}
                <tr>

                    <td>{{ i.sujet }}</td>
                    <td>{{ i.description }}</td>
                    <td>{% if i.dernierMAJ %}{{ i.dernierMAJ|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if ((i.statut==1)) %} <span class="label label-success">resolu</span>{% endif %}
                            {% if ((i.statut==0)) %} <span class="label label-warning">en attente</span>{% endif %}
                    </td>
                    <td>
                        {% if i.rponse is null %}
                            pas de reponse
                        {% else %}
                            {{ i.rponse }}

                            {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="sorting mr-auto">
        <div class="dropdown">
            <button style="color: gray;background-color: white;border: white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tirée par:
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% set statut = 1 %}
                <a class="dropdown-item" href="{{ path("reclamation_filter", {'statut':statut }) }}">resolu</a>
                {% set statut = 0 %}
                <a class="dropdown-item" href="{{ path('reclamation_filter', {'statut':statut}) }}">non resolu</a>
            </div>
        </div>
    </div>
{% endblock %}