{% extends 'base.html.twig' %}



{% block body %}


    <div class="container">
        <h1>Liste des Refugiées</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Pays d'origine</th>
                <th>Date d'arrivée</th>
                <th>Numero Passport</th>
                <th>Etat Civil</th>
                <th>Nombre Enfants</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for refugee in refugees %}
                <tr>
                    <td><a href="{{ path('refugee_show', { 'id': refugee.id }) }}">{{ refugee.id }}</a></td>
                    <td>{{ refugee.nativeCountry }}</td>
                    <td>{% if refugee.arrivalDate %}{{ refugee.arrivalDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ refugee.passportNumber }}</td>
                    <td>{{ refugee.civilStatus }}</td>
                    <td>{{ refugee.childrenNumber }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('refugee_show', { 'id': refugee.id }) }}">Afficher</a>
                            </li>
                            <li>
                                <a href="{{ path('refugee_edit', { 'id': refugee.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('refugee_new') }}">Ajouter un nouveau refugee</a>
            </li>
        </ul>
    </div>

{% endblock %}


