{% extends "::base.html.twig" %}

{% block title %}Register{% endblock %}
{% block bread %}Register{% endblock %}

{% block fos_user_content %}
    <div class="divider">
        <span></span>
    </div>
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
         style="background:url({{ asset('/assets/back/images/big/auth-bg.jpg') }}) no-repeat center center;">
        <div class="auth-box row text-center">
            <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url({{asset('/assets/back/images/big/3.jpg')}});">
            </div>
            <div class="col-lg-5 col-md-7 bg-white">
                <div class="p-3">
                    <img src="{{ asset('/assets/back/images/big/icon.png') }}" alt="wrapkit">
                    <h2 class="mt-3 text-center">Sign Up for Free</h2>
                    <form class="mt-4">
                                {% trans_default_domain 'FOSUserBundle' %}
                                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register'}}) }}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="your name">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="email address">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="password">
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <input type="submit" class="button border fw margin-top-10" name="register" value="S'inscrire" />
                                {{ form_end(form) }}
                            </div>
                            <div class="col-lg-12 text-center mt-5">
                                Already have an account? <a href="#" class="text-danger">Sign In</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.id, {'attr': {'id':'cin'}}) }}

                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.id, {'attr': {'id':'cin'}}) }}


                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.nom, {'attr': {'id':'nom'}}) }}
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.prenom, {'attr': {'id':'prenom'}}) }}

                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.username, {'attr': {'id':'username'}}) }}

                                    <i class="im im-icon-Mail"></i>
                                    {{ form_widget(form.email, {'attr': {'id':'email'}}) }}

                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.first, {'attr': {'id':'password'}}) }}

                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.second, {'attr': {'id':'confirm_password'}}) }}

                                    <i class="im-icon-Phone-2"></i>
                                    {{ form_widget(form.telephone, {'attr': {'id':'telephone'}}) }}

                                    <i class="im-icon-Map-Marker2"></i>
                                    {{ form_widget(form.adresse, {'attr': {'id':'adresse'}}) }}

                                    {{ form_widget(form.dateNaissance, {'attr': {'id':'dateNaisance'}}) }}


{% endblock fos_user_content %}
