{% extends "::base.html.twig" %}

{% block title %}Register{% endblock %}
{% block bread %}Register{% endblock %}

{% block fos_user_content %}
    <div class="col-lg-12 col-md-12 bg-black">
        <div class="p-3">
            <h2 class="mt-3 text-center">Sign Up for Free</h2>
            <form class="mt-4">
                <div class="row">
                    {% trans_default_domain 'FOSUserBundle' %}
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register'}}) }}
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="form-control-lg">
                            <label for="cin">CIN:
                                <i class="im im-icon-Male"></i>
                                {{ form_widget(form.id, {'attr': {'id':'cin'}}) }}
                            </div>
                            </label>
                        </div>
                    </div>
                    {{ dump(app.user.notifications) }}
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="email address">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="password">
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <input type="submit" class="button border fw margin-top-10" name="register" value="S'inscrire" />
                    </div>
                    <div class="col-lg-12 text-center mt-5">
                        Vous avez un compte déja? <a href="#" class="text-danger">S'authentifier</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </form>
        </div>
    </div>
                                <label for="cin">CIN:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.id, {'attr': {'id':'cin'}}) }}
                                </label>
                                </p><label for="nom">Nom:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.nom, {'attr': {'id':'nom'}}) }}
                                </label>
                                <label for="prenom">Prenom:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.prenom, {'attr': {'id':'prenom'}}) }}
                                </label>
                                <label for="username">Username:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.username, {'attr': {'id':'username'}}) }}
                                </label>
                                <label for="email">Email Address:
                                    <i class="im im-icon-Mail"></i>
                                    {{ form_widget(form.email, {'attr': {'id':'email'}}) }}
                                </label>
                                <label for="password">Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.first, {'attr': {'id':'password'}}) }}
                                </label>
                                <label for="confirm_password">Repeat Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.second, {'attr': {'id':'confirm_password'}}) }}
                                </label>
                                <label for="telephone">Telephone:
                                    <i class="im-icon-Phone-2"></i>
                                    {{ form_widget(form.telephone, {'attr': {'id':'telephone'}}) }}
                                </label>
                                <label for="adresse">Adresse:
                                    <i class="im-icon-Map-Marker2"></i>
                                    {{ form_widget(form.adresse, {'attr': {'id':'adresse'}}) }}
                                </label>

                                <label for="dateNaisance">Date Naissance:
                                    {{ form_widget(form.dateNaissance, {'attr': {'id':'dateNaisance'}}) }}
                                </label>

{% endblock fos_user_content %}
