{% extends "::base.html.twig" %}

{% block title %}Register{% endblock %}
{% block bread %}Register{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-12">
            <section class="rehome-house-sale-area section-padding-100-60">
                <div class="container">
                    <div class="container-fluid">
                            {% trans_default_domain 'FOSUserBundle' %}
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register'}}) }}

                            <p class="form-row form-row-wide">
                                <label for="cin">CIN:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.id, {'attr': {'id':'cin','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="nom">Nom:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.nom, {'attr': {'id':'nom','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="prenom">Prenom:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.prenom, {'attr': {'id':'prenom','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-group">
                                <label for="username">Username:
                                    <i class="im im-icon-Male"></i>
                                    {{ form_widget(form.username, {'attr': {'id':'username','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="email">Email Address:
                                    <i class="im im-icon-Mail"></i>
                                    {{ form_widget(form.email, {'attr': {'id':'email','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="password">Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.first, {'attr': {'id':'password','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="confirm_password">Repeat Password:
                                    <i class="im im-icon-Lock-2"></i>
                                    {{ form_widget(form.plainPassword.second, {'attr': {'id':'confirm_password','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="telephone">Telephone:
                                    <i class="im-icon-Phone-2"></i>
                                    {{ form_widget(form.telephone, {'attr': {'id':'telephone','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="adresse">Adresse:
                                    <i class="im-icon-Map-Marker2"></i>
                                    {{ form_widget(form.adresse, {'attr': {'id':'adresse','class': 'form-group'}}) }}
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="dateNaisance">Date Naissance:
                                    {{ form_widget(form.dateNaissance, {'attr': {'id':'dateNaisance'}}) }}
                                </label>
                            </p>

                            <p class="form-row">
                                <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                            </p>
                            {{ form_end(form) }}
                    </div>
                </div>
            </section>
    </div>
</div>


{% endblock fos_user_content %}
