{% extends 'base_nasri.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier un hébérgement</h1>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                {{ form_start(edit_form) }}
                    <div class="form-group">
                        {{ form_label(edit_form.description, 'Description') }}
                        {{ form_widget(edit_form.description, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.governorat, 'Governorat') }}
                        {{ form_widget(edit_form.governorat, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.nbrRooms, 'Nombres des chambres') }}
                        {{ form_widget(edit_form.nbrRooms, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.duration, 'Durée') }}
                        {{ form_widget(edit_form.duration, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.state, 'Etat') }}
                        {{ form_widget(edit_form.state, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.user, 'Utilisateur') }}
                        {{ form_widget(edit_form.user, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                {{ form_end(edit_form) }}
            </div>
        </div>

        <ul>
            <li>
                <a href="{{ path('hebergement_index') }}">Retournez à la list des hébérgement</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">Supprimer</button>
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

{% endblock %}
