{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des Offres d'hebergements</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Governorat</th>
                <th>Nombre des chambres</th>
                <th>Durée</th>
                <th>Date du creation</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for hebergement in hebergements %}
                <tr>
                    <td><a href="{{ path('hebergement_show', { 'id': hebergement.id }) }}">{{ hebergement.id }}</a></td>
                    <td>{{ hebergement.governorat }}</td>
                    <td>{{ hebergement.nbrRooms }}</td>
                    <td>{{ hebergement.duration }}</td>
                    <td>{% if hebergement.creationDate %}{{ hebergement.creationDate|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ hebergement.state }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('hebergement_show', { 'id': hebergement.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('hebergement_edit', { 'id': hebergement.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('hebergement_new') }}">Ajouter un nouveau hebergement</a>
            </li>
        </ul>
    </div>
{% endblock %}
