{% extends 'baseback.html.twig' %}

{% block body %}
<div class="container my-3">
    <h1>Dons list</h1>
    <div class="table-responsive">
    <table id="zero_config" class="table table-striped table-bordered no-wrap">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(dons,'id' , 'do.id' ) }}</th>
                <th>{{ knp_pagination_sortable(dons,'title' , 'do.title' ) }}</th>
                <th>{{ knp_pagination_sortable(dons,'Description' , 'do.description' ) }}</th>

                <th>{{ knp_pagination_sortable(dons,'Address' , 'do.address' ) }}</th>
                <th>{{ knp_pagination_sortable(dons,'State' , 'do.state' ) }}</th>
                <th>{{ knp_pagination_sortable(dons,'Phone' , 'do.phone' ) }}</th>
                <th>{{ knp_pagination_sortable(dons,'Ups' , 'do.ups' ) }}</th>
                <th>{{ knp_pagination_sortable(dons,'Creation date' , 'do.creationDate' ) }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for don in dons %}
            <tr>
                <td><a href="{{ path('don_show', { 'id': don.id }) }}">{{ don.id }}</a></td>
                <td>{{ don.title }}</td>
                <td>{{ don.description }}</td>
                <td>{{ don.address }}</td>
                <td>{{ don.state }}</td>
                <td>{{ don.phone }}</td>
                <td>{{ don.ups }}</td>
                <td>{% if don.creationDate %}{{ don.creationDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('don_show', { 'id': don.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('don_edit', { 'id': don.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('don_new') }}">Create a new don</a>
        </li>
    </ul>
</div>


    <div class="navigation">
        {{ knp_pagination_render(dons) }}
    </div>
</div>
{% endblock %}
