{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="container my-3">
        <h1>Don</h1>
            <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ don.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ don.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ don.description }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ don.address }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ don.category }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ don.state }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ don.phone }}</td>
            </tr>
            <tr>
                <th>Ups</th>
                <td>{{ don.ups }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if don.creationDate %}{{ don.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('don_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('don_edit', { 'id': don.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">Supprimer</button>
                {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
