{% extends 'baseback.html.twig' %}

{% block body %}
    <h1>Imagedon</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imageDon.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="300" height="300" src="{{ asset('uploads/dons/images/' ~ imageDon.image) }}" alt=""></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagedon_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imagedon_edit', { 'id': imageDon.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
