{% extends 'baseback.html.twig' %}

{% block body %}
    <h1>Invitations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td><a href="{{ path('Invitation_show', { 'id': invitation.id }) }}">{{ invitation.id }}</a></td>
                <td>{{ invitation.etat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Invitation_show', { 'id': invitation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('Invitation_edit', { 'id': invitation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Invitation_new') }}">Create a new invitation</a>
        </li>
    </ul>
{% endblock %}
