{% extends 'baseback.html.twig' %}

{% block body %}
<div class="container my-3">
    <h1>Demande</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ demande.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ demande.address }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ demande.category }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ demande.state }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ demande.phone }}</td>
            </tr>
            <tr>
                <th>Ups</th>
                <td>{{ demande.ups }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if demande.creationDate %}{{ demande.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ demande.rib }}</td>
            </tr>
            <tr>
            <td>                                <p class="form-row form-row-wide">
                    <label for="password">Emplacement Association:
                        <div id="map" style="width: 500px; height: 300px; background-color: red"></div>
                        <input type="hidden" name="lat_demande" id="lat_demande" value="{{demande.latitude }}" />
                        <input type="hidden" name="lng_demande" id="lng_demande" value="{{demande.longitude }}" />
                    </label>
                </p></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demande_index') }}">Back to the list</a>
        </li>
        <li>

            <a href="{{ path('demande_edit', { 'id': demande.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>









    <script>

        function initMap() {
            var myLatLng = {lat: {{demande.latitude}}, lng: {{demande.longitude}}};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,

            });




        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD00UW-yFHi17pDyHLe19_ImRpo0ja5Q3k&callback=initMap">
    </script>



{% endblock %}
