{% extends 'base.html.twig' %}
{% block title %}demande{% endblock %}
{% block bread %}<a href="{{ path('demande_index') }}">Demande</a>{% endblock %}
{% block info %}Demande :{% endblock %}


  {% block search %}
      <div class="rehomes-search-form-area">
          <div class="container">
              <div class="rehomes-search-form">
                  <form action="{{ path('demande_search') }}" method="get">
                      <div class="row">
                          <div class="col-12 col-lg-10 ">
                              <div class="row align-items-center">
                                  <div class="col-12 col-md-6 col-lg-3">
                                      <select name="addresse" id="location" class="form-control">
                                          <option value="" selected disabled hidden>address</option>
                                          <option value="Ariana">Ariana</option>
                                          <option value="Béja">Béja</option>
                                          <option value="Ben Arous">Ben Arous</option>
                                          <option value="Bizerte">Bizerte</option>
                                          <option value="Gabes">Gabes</option>
                                          <option value="Jendouba">Jendouba</option>
                                          <option value="Kairouan">Kairouan</option>
                                          <option value="Kasserine">Kasserine</option>
                                          <option value="Kebili">Kebili</option>
                                          <option value="Kef">Kef</option>
                                          <option value="Mahdia">Mahdia</option>
                                          <option value="Manouba">Manouba</option>
                                          <option value="Medenine">Medenine</option>
                                          <option value="Monastir">Monastir</option>
                                          <option value="Nabeul">Nabeul</option>
                                          <option value="Sfax">Sfax</option>
                                          <option value="Sidi Bouzid">Sidi Bouzid</option>
                                          <option value="Siliana">Siliana</option>
                                          <option value="Sousse">Sousse</option>
                                          <option value="Tataouine">Tataouine</option>
                                          <option value="Tozeur">Tozeur</option>
                                          <option value="Tunis">Tunis</option>
                                          <option value="Zaghouan">Zaghouan</option>
                                      </select>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-3">
                                      <select name="ordre_ups" id="types" class="form-control">
                                          <option value="" selected disabled hidden>ups</option>
                                          <option value="1">Desc</option>
                                          <option value="2">Asc</option>
                                      </select>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-3">
                                      <select name="domaine" id="city" class="form-control">
                                          <option value="" selected disabled hidden>domaine</option>
                                          {% for domaine in domaines %}
                                              <option value="{{ domaine.id }}">{{ domaine.name }}</option>
                                          {% endfor %}
                                                                                  <option value="1">Un mois</option>
                                                                                  <option value="2">Deux mois</option>
                                                                                  <option value="3">Trois mois</option>
                                                                                  <option value="4">Quatre mois</option>
                                                                                  <option value="5">Cinq mois</option>
                                                                                  <option value="6">Six mois</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-lg-2">
                              <button type="submit" class="btn rehomes-search-btn">Search</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  {% endblock %}

{% block body %}
    <section class="rehome-house-sale-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Demande d'aide <span>Proposé</span></h2>
                        <p>lél 7achtou kahw.</p>
                    </div>
                </div>
                {% for demande in demandes %}
                    <!-- Single Property Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                            <!-- Property Thumb -->
                            <div class="property-thumb">
                                <img src="{{ asset('uploads/images/demandeImages/'~demande.image)}}" alt="">
                            </div>

                            <!-- Property Description -->
                            <div class="property-desc-area">
                                <!-- Property Title & Seller -->
                                <div class="property-title-seller d-flex justify-content-between">
                                    <!-- Title -->
                                    <div class="property-title">
                                        <h4><a href="{{ path('demande_show', {'id': demande.id}) }}">{{demande.title}}</a></h4>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ demande.description }} {{ demande.address }}, {{ demande.phone }}</p>
                                    </div>
                                    <!-- Seller -->
                                    <div class="property-seller">
                                        <p>Telephone:</p>
                                        <h6>{{ demande.phone }}</h6>
                                    </div>
                                </div>
                                <!-- Property Info -->
                                <div class="property-info-area d-flex flex-wrap">
                                    <p>J'aime: <span>{{ demande.ups }}</span></p>

                                    <p> <span></span></p>
                                    <p> <span></span></p>
                                    <p><span></span></p>

                                    <a href="{{ path('demande_like', {'id': demande.id}) }}" id="btn">
                                        <span  class="js-like" id="{{ demande.id }}"> {{ demande.likes|length }} </span>
                                        {% if app.user and demande.likedByUser(app.user) %}
                                            <i class="fas fa-thumbs-up"></i>

                                        {% else %}
                                            <i class="far fa-thumbs-up"></i>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                            <!-- Property Price -->
                            <div class="property-price">
                                <p class="badge-rent">Domaine d'activité</p>
                                <p class="price"><a href="{{ path('category_show', { 'id': demande.domaine.id }) }}">{{ demande .domaine}} </a></p>

                            </div>

                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>


        <div class="navigation">
            {{ knp_pagination_render(demandes) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        const LIKE_ICON = 'far fa-thumbs-up';
        const UNLIKE_ICON = 'fas fa-thumbs-up';
        Array.from(document.querySelectorAll('#btn')).forEach(function (link) {
            link.addEventListener('click', onClickLink);
        });
        async function onClickLink(event) {
            event.preventDefault();
            const url = this.href;
            const icone = this.querySelector('i');
            const count = this.querySelector('span');
            try {
                const result = await axios.post(url);
                const data = result.data;
                icone.className = icone.className === LIKE_ICON ? UNLIKE_ICON : LIKE_ICON;
                count.textContent = data.likes;
            } catch (error) {
                if (error.response.status === 403) {
                    window.location.href = "{{ path('fos_user_security_login') }}";
                }
            }
        }

    </script>
{% endblock %}