{% extends 'baseback.html.twig' %}

{% block body %}
    <h1>Forumcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Describtion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forumCategory in forumCategories %}
            <tr>
                <td><a href="{{ path('forumcategory_show', { 'id': forumCategory.id }) }}">{{ forumCategory.id }}</a></td>
                <td>{{ forumCategory.name }}</td>
                <td>{{ forumCategory.describtion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('forumcategory_show', { 'id': forumCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('forumcategory_edit', { 'id': forumCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('forumcategory_new') }}">Create a new forumCategory</a>
        </li>
    </ul>
{% endblock %}
