{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="container my-3">
        <h1>Création d'un refugee</h1>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.nativeCountry, 'Pays d\'origine') }}
                        {{ form_widget(form.nativeCountry, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.caseDescription, 'Description du cas') }}
                        {{ form_widget(form.caseDescription, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.arrivalDate, 'Date d\'arrivee') }}
                        {{ form_widget(form.arrivalDate, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.passportNumber, 'Numero du Passport') }}
                        {{ form_widget(form.passportNumber, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.civilStatus, 'Etat Civil') }}
                        {{ form_widget(form.civilStatus, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.childrenNumber, 'Nombre des enfants') }}
                        {{ form_widget(form.childrenNumber, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.user, 'Utilisateur') }}
                        {{ form_widget(form.user, {'attr': { 'class' : 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('refugee_index') }}">Retournez au list des refugees</a>
            </li>
        </ul>
    </div>
{% endblock %}
