{% extends 'baseback.html.twig' %}

{% block body %}
    <div class="container my-3">
        <h1>Refugiée</h1>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ refugee.id }}</td>
            </tr>
            <tr>
                <th>Pays d'origine</th>
                <td>{{ refugee.nativeCountry }}</td>
            </tr>
            <tr>
                <th>Date d'arrivée</th>
                <td>{% if refugee.arrivalDate %}{{ refugee.arrivalDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numero du Passport</th>
                <td>{{ refugee.passportNumber }}</td>
            </tr>
            <tr>
                <th>Etat Civil</th>
                <td>{{ refugee.civilStatus }}</td>
            </tr>
            <tr>
                <th>Numbre d'enfants</th>
                <td>{{ refugee.childrenNumber }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('refugee_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('refugee_edit', { 'id': refugee.id }) }}">Edit</a>
            </li>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">Supprimer</button>
            {{ form_end(delete_form) }}
        </ul>
    </div>


{% endblock %}
