{% extends '::base.html.twig' %}
{% block body  %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="{{ asset('assets/front/css/MalekCSS.css') }}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button">   <a href="/thread/add" class="button">Add a new thread </a></button>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Threads</th>
                    <th>Date</th>
                </tr>
                </thead>
                {% for i in threads %}
                <tbody>
                <tr>
                    <td><br/><a href="{{ path('threads_front',{'id': i.id}) }}" >{{ i.title }}</a><br/><i class="fa fa-map-marker"></i>
                        {#{{ i.User }}#}<br/>{{ i.content }}</td>
                    <td>{#{{ i.Lastmodified|date('Y-m-d') }}#}</td>
                </tr>

                    {% endfor %}
                </tr>



                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock %}
